@charset "utf-8";
/*轮翻新闻图片 20151201*/
/* css 重置 */*{margin:0; padding:0; list-style:none; }img{ border:0; }a{ text-decoration:none; color:#333; }a:hover{ color:#1974A1; }
/* 本例子css */
.focusBox { position: relative; width: 100%; height: 100%; overflow: hidden; font: 12px/1.5 Verdana, Geneva, sans-serif; text-align: center; background: white; }/*20160110*/
.focusBox .pic img {  width: 300px; height: 250px; display: block; }/*20160110*/
.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width:100%; background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 36px; width:100%; overflow: hidden; }
.focusBox .txt li{ height:36px; line-height:36px; position:absolute; bottom:-36px;}
.focusBox .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; text-decoration: none; }
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 60px; }/*20160110*/
.focusBox .num li{ float: left; position: relative; width: 18px; height: 15px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer; }
.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }.focusBox .num li.on a,.focusBox .num a:hover{ background:#f60; }