/*主体（不包含footer）宽度*/
body {/*给navbar留出空间*/padding-top: 50px;margin-left:auto;margin-right:auto;background-size:cover;}
.div-table{display: table;width:100%;}
.div-tr{display:table-row;}
.div-td-50{display:table-cell;width:50%;}
.div-td-100{display:table-cell;width:100%;}
.div-td-100 a{ width:100%; text-align: center; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.container-fluid{max-width:1100px;}
.row ul{list-style: none;margin:0px;overflow: auto;  padding:0px;}/*overflow属性让ul高度不为0*!*/
/*导航条*/
.navbar-default{background-color: #337ab7 !important;}
.navbar-nav >li >a {color:#fff !important;}
.navbar-brand {color:#fff !important;}
.dropdown-menu li{clear: both}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {color: #555;background-color: #337ab7;}
.navbar-form{padding:0px 0px;}
/*第一行*/
.row1{margin-bottom: 15px;}
@media screen and (min-width: 768px){.row1{height:240px;}
/*搜索tabs*/
.searchTabs{width:50%;height:120px;position:relative;left:50%;top:50%;transform:translate(-50%,-50%);
    background: rgba(204,204,204, 0.7)!important;}}
.searchTabs .nav > li > a {padding: 0px 0px;}
/*搜索*/

.searchform {padding-top: 30px;padding-bottom: 30px;color: inherit;background-color: #eee;}
.searchform h1,.searchform .h1 { color: inherit;}
.searchform p {margin-bottom: 15px; font-size: 21px; font-weight: 200;}
.searchform > hr {border-top-color: #d5d5d5;}
.container .searchform,
.searchform {padding-right: 15px; padding-left: 15px; border-radius: 6px;}
.searchform .container {    max-width: 100%;}
@media screen and (min-width: 768px) {
    /*.searchform {padding-top: 64px; padding-bottom: 64px; }*/
    /*.searchform,{ padding-right: 60px;padding-left: 60px;}*/
    .searchform h1,.searchform .h1 {font-size: 63px;}
}
.searchform{background-color: rgba(255,255,255,0);}
/*第二行 全行样式*/
.row2{padding-bottom:10px; }
@media screen and (min-width: 768px) {.row2 {padding-bottom: 15px;}}
.row2 a{color:#333}
.row2 .glyphicon-class {display: block;text-align: center;word-wrap: break-word;}
.row2 .panel {margin-bottom:0px;}
/*第二行资源链接*/
.quicklink li{float: left;width: 50%;padding: 10px;font-size: 10px;line-height: 1.4;
    text-align: center;background-color: #fff;border: 1px solid #fff;}
.quicklink li:hover{color: #fff;background-color:#563d7c;}
.quicklink .panel-body{padding:0px;}
.quicklink img{height: 30px;width:30px;margin-bottom: 5px;}
/*第二行icons*/
.icons li {float: left;width: 50%;height: 100px;padding: 10px;font-size: 10px;line-height: 1.4;
    text-align: center;background-color: #fff;border: 1px solid #fff;}
@media  screen and (min-width: 768px) {.icons li {  width: 25%;font-size: 12px; }}
.icons .glyphicon {    margin-top: 5px;    margin-bottom: 10px;    font-size: 24px;}
/*.icons .glyphicon-class {    display: block;    text-align: center;    word-wrap: break-word;}*/
.icons li:hover {    color: #fff;    background-color: #563d7c;}

/*第三行左侧newsbox*/
#newsbox{background-color: rgba(255,255,255,1);}
#newsbox.panel{border:0px;}
#newsbox .panel-body{    border: 1px solid #337ab7;    padding:10px;    padding-bottom: 0px;}
#newsbox .panel-body>ul{    padding-right: 2px;}
#newsbox .panel-footer{    border: 1px solid #337ab7;    border-top:0px;    padding:1px 15px;}
.news-item{    padding:4px 8px;    margin:0px;    border-bottom:1px dotted #555; }
.news-item>a{ white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    padding-right: 2px;}
.news-item>span{text-align: right;font-style:italic;font-size:10px;float:right;line-height: 20px;}
.glyphicon{    margin-right:4px !important; /*override*/}
.pagination .glyphicon{    margin-right:0px !important; /*override*/}
.pagination li a{    padding:1px 5px 0px 5px; /*override*/}

/*第三行右侧图片新闻*/
#newspics{}
#newspics img{width:200px;height:200px}

/*footer*/
.bs-docs-footer {width:100%;padding-top: 20px;padding-bottom: 20px;color: #fff;/*#99979c;*/
    text-align: center;/*背景透明文字不透明*/ background-color: rgba(51,122,183,1); bottom:0px;/*opacity: 0.6;*/}
.bs-docs-footer a {    color:#fff; /*#99979c;*/    text-decoration-line: underline;}
.bs-docs-footer-links {    padding-left: 0;    margin-bottom: 20px;}
.bs-docs-footer-links li {    display: inline-block;}
.bs-docs-footer-links li + li {    margin-left: 15px;}
@media screen and (min-width: 768px) {.bs-docs-footer {text-align: left;}
    .bs-docs-footer p {margin-bottom: 0;}}
@media (min-height: 840px) {.bs-docs-footer {position:fixed;}}
@media screen and (max-width: 768px) {.bs-docs-footer {position:static;}}


/*一些细节*/
/*url如果没有/开头，会自动获得{respath}/css的路径前缀:background:url(../images/bg-2.jpg) no-repeat;*/