/*首页css*/
/*主体（不包含footer）宽度*/
body {/*给navbar留出空间*/padding-top: 75px;margin-left:auto;margin-right:auto;}
.row a,.footer a,a:focus,.footer a:focus {color:#333;text-decoration: none;!important;}
.row a:hover,.footer a:hover {color: #fff; background-color: #563d7c!important;text-decoration: none;!important;}
.div-table{display: table;width:100%;}
.div-tr{display:table-row;}
.div-td-50{display:table-cell;width:50%;}
.div-td-100{display:table-cell;width:100%;}
.div-td-100 a{ width:100%; text-align: center; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.container-fluid{max-width:1100px;}
.row ul{list-style: none;margin:0px;overflow: auto;  padding:0px;}/*overflow属性让ul高度不为0*!*/
.panel-body{padding:0px;}
.title{font-size:15px;}
.title span{color:#337ab7}
/*导航条*/
.navbar-default{background-color: rgba(51,122,183,0.6) !important;}
.navbar-brand {background: url(../images/logo75.png) no-repeat center; width:80%;float:left;background-size:191px 30px;}
@media screen and (min-width: 768px){.navbar-brand {width:45px;background: url(../images/logo75.png) no-repeat left;
    background-size:287px 45px;height: 75px;}}
@media screen and (min-width: 1000px){.navbar-brand {width:479px;
    background: url(../images/logo75.png) no-repeat center; height: 75px;}}
#navbar>.navbar-nav{float:right;padding-right:35px;padding-top: 25px }
.navbar-nav >li >a {color:#fff !important;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color:#563d7c}
.dropdown-menu li{clear: both;width:100%}
.dropdown-menu {border:none}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {color: #555;background-color: #563d7c!important;}
@media (max-width: 767px){.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #563d7c;}}
.navbar-form{padding:0px 0px;}

/*第一行*/
.row1{margin-bottom: 15px;}
@media screen and (min-width: 768px){.row1,.row1 .col-md-12{height:240px;}
    .row1 .col-md-12{background: url(../images/title1070x220.png) no-repeat center;}}
/*搜索tabs*/
@media screen and (min-width: 768px){.searchTabs{width:50%;height:120px;position:relative;left:50%;top:50%;transform:translate(-50%,-50%);
    background: rgba(245,245,245, 0.4)!important;}}
.searchTabs .nav > li > a {padding: 0px 0px;border-radius: 0px}
.searchTabs ul {height: 40%;}
.searchTabs .active>a:after{position: absolute;display: block;content: "";width: 0;height: 0;border: 5px solid transparent;
    border-top-color: #337ab7;bottom: -10px;left: 50%;margin-left: -5px;}
@media screen and (max-width: 767px){.searchTabs .active>a:after{display: none}}
/*搜索*/
.searchform { ;color: inherit;}
.searchform h1,.searchform .h1 { color: inherit;}
.searchform p {margin-bottom: 15px; font-size: 21px; font-weight: 200;}
.searchform > hr {border-top-color: #d5d5d5;}
.container .searchform,
.searchform {padding-right: 15px; padding-left: 15px; border-radius: 6px;}
.searchform .container {    max-width: 100%;}
@media screen and (min-width: 768px) {
    .searchform h1,.searchform .h1 {font-size: 63px;}
}

/*第二行*/
/*第二行左侧newsbox*/
#newsbox .panel-body{min-height: 130px }
#newsbox ul{margin: 2px 5px;}
#newsbox .row{margin: 0px;}
#newsbox .panel-footer{ padding:0px 15px 1px 15px;}
#newsbox .col-md-6{padding-left:7px;padding-right: 7px;min-height: 130px}
@media screen and (min-width: 992px){ #newsbox .col-md-6:first-child{border-right:1px solid #ececec  }}
.line{width:1px;left:50%;border-right:1px solid #ececec;height: 130px}
.news-item{     border-bottom:0px dotted #555; }
.news-item>a{ display:block;white-space: nowrap;text-overflow:ellipsis; overflow: hidden;margin: 8px 5px;}
/*.news-item>a:hover{color:#fff;background:#563d7c;text-decoration: none}*/
.news-item>span{text-align: right;font-style:italic;font-size:10px;float:right;line-height: 20px;}
.glyphicon{    margin-right:4px !important; /*override*/}
.pagination .glyphicon{    margin-right:0px !important; /*override*/}
.pagination>li>a{padding:1px 4px 0px 4px; line-height: 15px;color:#333/*override*/}
.pagination>li>a:focus{color: #333;background:#fff}
.pagination>li>a:hover{color: #fff; background: #563d7c;text-decoration: none;}
.panel-footer>.div-td-50:first-child{padding-right: 15px}
/*第二行右侧图片新闻*/
.newspics .pre{width:17.5%;height:100%;display: table;cursor:pointer;}
.newspics .pre,.slider{position:relative;float:left;min-height: 1px;height:130px;text-align: center;}
.newspics .slider{width:65%;}
.pre span{display: table-cell;vertical-align: middle}
.newspics img{width:100%;height:130px;}
.newspics a{ display:block;white-space: nowrap;text-overflow:ellipsis; overflow: hidden;}
.slick-dotted.slick-slider{margin-bottom: 0px;}
.slick-dots {   bottom: 0px;background-color: white; opacity: 0.4;}
.slick-dots li,.slick-dots li button{height:15px}

/*第三行*/
.row3 .glyphicon-class{padding:0px 0px 0px 0px}
.row3 img{height:16px;width:16px}
.row3 li{padding: 5px 0px 5px 0px;line-height: 30px;}
.row3 li:hover{color: #fff;background-color:#563d7c;}
/*.row3 a:hover{text-decoration: none;}*/
.row3 .col-md-3,.row3 .col-md-6{border-right:1px solid #ececec;padding-left:30px}
.r3l,.r3m,.r3r{max-height: 180px}
.row3 .glyphicon-forward{font-size:10px;padding-right:5px}
/*左，右*/
.r3l li, .r3r li{width:auto;margin-left:16px}
.r3r.col-md-3{border-right:none}
.r3l ul>span,.r3r ul>span{float:left;position:relative;top:14px}
/*中*/
.r3m li{display:inline-block;width:50%;float:left;}
@media screen and (max-width: 768px){.row3 .title,.row3 li{text-align: center}}
.row3 .title{}

/*footer*/
.footer {width:100%;padding: 20px;margin-top:20px;text-align: center;
    color: #fff;background-color: rgba(51,122,183,0.7);bottom:0px}
.footer a {color:#fff; /*#99979c;*/ }
.footer .container-fluid{text-align: center}
.footer p{margin:0 auto;text-align: center}


.ftwrapper{display:inline-block;margin:0 auto;}
.footerlinks ,.qrcode{float:left;padding-left:0px}
.footerlinks{margin-top: 15px;}
.footerlinks li { display: inline-block;}
.footerlinks li + li { margin-left: 15px;}
li.lastchild{display:block;margin-top: 15px}
.qrcode li{display:inline-block;margin:0px 20px;text-align: center}
.qrcode img{width:70px;height: 70px}
@media screen and (min-width: 1000px) {.footer {position:fixed}}
@media screen and (max-width: 767px) {
    .footerlinks,.qrcode {float: none;}
    .footer{margin-top: 0px; }
}




/*一些细节*/
/*url如果没有/开头，会自动获得{respath}/css的路径前缀:background:url(../images/bg-2.jpg) no-repeat;*/
/*背景透明文字不透明 background-color: rgba(51,122,183,0.6)*/